<template>
  <div class="todo">

<div class="container">

      <div class="row   ">
        <form @submit.prevent="submitTodo" class=" waves-effect waves-blue waves-light col s10 offset-s1  pulse ">
          <div class="input-field  ">
            <i class="material-icons prefix">mode_edit</i>
            <textarea v-model="newTodo" id="adds" class="materialize-textarea"></textarea>
            <label for="adda">Введите задачу</label>
             <button class="waves-effect waves-red waves-light blue lighten-1 btn-floating secondary-content large material-icons btn-floating pulse">add</button>

          </div>

        </form>
      </div>

    <div class="row meta" >
           <div class="progress col s10 offset-s1 blue lighten-1 ">
      <div class="indeterminate"></div>
  </div>
        <ul class="collection  card-panel col s10 push-s1 blue lighten-1 z-depth-1 ">
          <li class="collection-item card-panel blue lighten-3 col m12 push-s1 z-depth-1  " v-for="todo in todos" :key="todo.id">
            <p>
              <label>
                <input type="checkbox" :checked=todo.done @change="todo.done = !todo.done" />
                <span>{{todo.title}}</span>
                <span>
                  <a @click.prevent="deleteTodo(todo)">
                    <i class=" blue lighten-3 material-icons right teal-text  ">cancel</i>
                  </a>
                </span>
              </label>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VueDemo',
 data() {
    return {
      todos: [],
      newTodo: '',
    };
  },
  watch: {
    todos: {
      handler() {
        localStorage.todos = JSON.stringify(this.todos);
      },
      deep: true,
    },
  },
  mounted() {
    if (localStorage.todos) {
      this.todos = JSON.parse(localStorage.todos);
    }
  },
  methods: {
    submitTodo() {
      this.todos.push({
        title: this.newTodo,
        done: false,
      });
      this.newTodo = '';
    },
    deleteTodo(todo) {
      const todoIndex = this.todos.indexOf(todo);
      this.todos.splice(todoIndex, 1);
    },
  },

};
</script>


<style  lang="scss">

.header {

}
    .meta{
        opacity: 0.8;
    }

</style>
