<template>
  <div id="app">
      <header>
         <h1 id="headere" >Django VueJs Todo</h1>
      </header>
<div id="ls"> </div>
<VueDemo/>

  </div>
</template>
<script>
import VueDemo from "./components/VueDemo";
export default {
    components: {VueDemo},
    comments: {
    VueDemo
}
}


</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

}
#ls{
margin-bottom: 10px;
}
#headere{


    width: 200px ;

    margin: auto;
    margin-bottom: 50px;
;
 color:#00ACA9;
    font-family: «Great Vibes»,
    cursive; font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

</style>
